<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <div th:replace="base :: headerfg"></div>
</head>
<style>
    .main {
        padding: 20px;
    }
    input[type = submit] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<body>
<div th:replace="base :: navlinksfg"></div>

<div class="main">

    <h4> Add a tech jobs specialist</h4>
    <br>

<form th:action="@{/processUser}"
      th:object="${user}"
      method="post">


    <input type="hidden" th:field="*{id}"/>
    Name: <input type="text" th:field="*{name}"/><br>
    <br>
    Specialty: <input type="text" th:field="*{task}"/>
    <br>
    <br>
    <input type="submit" value="Enter"/>


</form>
</div>
<div th:replace="base ::footerfg"></div>
</body>
</html>