<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddDirector</title>
    <div th:replace="base :: headerfg"></div>
</head>
<style>
    .main {
        padding: 20px;
    }
</style>
<body>
<div th:replace="base :: navlinksfg"></div>

<div class="main">

    <h4> Add a tech jobs specialist</h4>
    <br>

<form th:action="@{/processUser}"
      th:object="${user}"
      method="post">


    <input type="hidden" th:field="*{id}"/>
    Name: <input type="text" th:field="*{name}"/><br>
    <br>
    Specialty: <input type="text" th:field="*{task}"/>
    <br>
    <br>
    <input type="submit" value="Enter"/>


</form>
</div>
<div th:replace="base ::footerfg"></div>
</body>
</html>